body {
  background-color:#000000;
  background-image:url(back.jpg);
  background-repeat:no-repeat;
  background-position:center 100px;
  background-attachment:fixed;
  font-family:Arial,Helvetica,sans-serif;
  color:#993366;
  font-size:medium;
  line-height:1.25;
  text-align:center;
  margin:0px; padding:0px;
  min-width:1200px;
  min-height:750px;
}
.body_gbook {
  background-image:url();
  min-width:0px;
  min-height:0px;
}
.body_backend {
  background-image:url();
}

/* Header */
h1 {
  font-size:x-large;
  color:#993366;
  font-weight:bold;
}

h2 {
  font-size:medium;
  color:#993366;
  font-weight:bold;
}
h2::first-letter { font-size:200%; }

h3 {
  font-size:small;
  color:#993366;
  font-weight:bold;
}

/* inline Textformat+Links */
b { font-size:medium; color:#FFFFFF; font-weight:bold; } /* default bold */
i { font-size:medium; color:#993366; font-style:italic; } /* default italic */
a:link { font-size:medium; color:#993366; text-decoration:none; }
a:visited { font-size:medium; color:#993366; text-decoration:none; }
a:active { font-size:medium; color:#993366; text-decoration:none; }
div#blogbox a:link { font-size:small; color:#993366; text-decoration:none; }
div#blogbox a:visited { font-size:small; color:#993366; text-decoration:none; }
div#blogbox a:active { font-size:small; color:#993366; text-decoration:none; }
div#blogcomment a:link { font-size:small; color:#662244; text-decoration:none; }
div#blogcomment a:visited { font-size:small; color:#662244; text-decoration:none; }
div#blogcomment a:active { font-size:small; color:#662244; text-decoration:none; }
div#suggestion a:link { font-size:small; color:#000000; text-decoration:none; }
div#suggestion a:visited { font-size:small; color:#000000; text-decoration:none; }
div#suggestion a:active { font-size:small; color:#000000; text-decoration:none; }
footer a:link { font-size:small; color:#662244; text-decoration:none; }
footer a:visited { font-size:small; color:#662244; text-decoration:none; }
footer a:active { font-size:small; color:#662244; text-decoration:none; }

/* span */
span#white a:link { font-size:medium; color:#FFFFFF; text-decoration:none; }
span#white a:visited { font-size:medium; color:#FFFFFF; text-decoration:none; }
span#white a:active { font-size:medium; color:#FFFFFF; text-decoration:none; }
span#white_bold a:link { font-size:medium; color:#FFFFFF; font-weight:bold; text-decoration:none; }
span#white_bold a:visited { font-size:medium; color:#FFFFFF; font-weight:bold; text-decoration:none; }
span#white_bold a:active { font-size:medium; color:#FFFFFF; font-weight:bold; text-decoration:none; }
span#white_small a:link { font-size:small; color:#FFFFFF; text-decoration:none; }
span#white_small a:visited { font-size:small; color:#FFFFFF; text-decoration:none; }
span#white_small a:active { font-size:small; color:#FFFFFF; text-decoration:none; }

span#white {
  font-size:medium;
  color:#FFFFFF;
}

span#white_bold {
  font-size:medium;
  color:#FFFFFF;
  font-weight:bold;
}

span#white_small {
  font-size:small;
  color:#FFFFFF;
}

/* Monospace Text */
pre {
  font-family:monospace; /* default */
  font-size:small;
  color:#FFFFFF;
}

/* Kombi Bild+Beschriftung */
figure { margin:0; }
.floating { float:left; margin:5px 10px 5px 5px; max-width:62%; display:table; }

figcaption {
  font-size:small;
  color:#331122;
  font-style:italic;
  text-align:center;
}
.floating_caption { text-align:left; display:table-caption; caption-side:bottom; }

/* Tabelle */
table {
  font-size:medium;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-width:0px;
  border-spacing:2px; /* default */
}
.tb_profile {
  background-image:url(transpar.png);
  font-size:90%;
  text-align:left;
  margin-top:1em;
  margin-bottom:1em;
  max-width:800px;
  border-spacing:10px;
}
.tb_gallery {
  background-image:url(transpar.png);
  font-size:90%;
  text-align:left;
  margin-top:1em;
  margin-bottom:1em;
  max-width:800px;
  border-spacing:10px;
}
.gbook {
  text-align:left;
  width:800px;
  border-spacing:10px;
}
.backend {
  font-size:90%;
  text-align:left;
  width:800px;
  margin-top:1em;
  margin-bottom:1em;
  border-spacing:5px;
}
.backend b { font-size:inherit; }
.backend i { font-size:inherit; }
.backend a { font-size:inherit; }


tr { background-color:transparent; }
.farbig { background-color:#331122; }
th { vertical-align:top; }
.th_profile { padding-right:5px; width:25%; }
td {}
.td_photos { vertical-align:top; }
.td_profile { vertical-align:top; padding-right:5px; width:25%; }
.td_backend { vertical-align:top; padding-right:5px; width:15%; }
.td_media { vertical-align:top; padding-right:5px; }

/* Imgage Platz+Rahmen */
img {}
.border { border:1px solid #000000; }
.home { border:1px solid #000000; margin-bottom:25px; }
.profile_small { border:1px solid #000000; margin-top:25px; margin-bottom:25px; }
.profile_big { border:1px solid #000000; margin-top:100px; }
.photos_arrow { border:1px solid #000000; margin-top:5px; }
.aside { border:0px; margin-top:50px; }
.thumbnail { border:2px solid #993366; margin:0 0.5em 1em; }
.noborder { border:0px; }

div#photos img, figure img { max-width:99%; height:auto; }

/* Liste */
ul {}
.ul_backend_jpg { -webkit-column-count:6; -moz-column-count:6; column-count:6; }
.ul_backend_mp4 { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
.ul_backend_xml { -webkit-column-count:4; -moz-column-count:4; column-count:4; }

li {}
.li_backend { list-style:none; cursor:pointer; }

span.list { display:list-item; padding-left:0.3em; }
span.list:before { content:"-"; padding-right:0.3em; }

details {
  width:145px;
}
.details_backend { margin-left:0px; }

details ul {
  margin-top:0px;
  margin-bottom:0.5em;
  padding-left:2em;
}

details li {
  list-style:none;
}

/* Textfelder */
input[type=number] {}
.size_4 { width:4.1em; }	/* { width:59px; }	table backend (blog) options */

input[type=text] {}
.size_4 { width:4.1em; }	/* { width:59px; }	table backend (photos, comment) 2. spalte */
.size_5 { width:4.75em; }	/* { width:67px; }	table gbook 2. spalte */
.size_12 { width:9.45em; }	/* { width:123px; }	table backend (photos, languages) 2. spalte */
.size_16 { width:12.1em; }	/* { width:155px; }	table backend (user login, password) 2. spalte */
.size_20 { width:14.75em; }	/* { width:187px; }	table gbook 1. spalte, blog comment */
.size_24 { width:17.4em; }	/* { width:209px }	blogquery */
.size_32 { width:22.75em; }	/* { width:283px; }	table backend (profile) 1. spalte, (base, home, profile, blog, comment, admin) 2. spalte */
/*.size_40 { width:28.1em; }*/	/* { width:347px; }	table backend (photos) 2. spalte */
.size_40 { width:27.6em; }	/* in kombination mit size_4 und size_12 */
.size_48 { width:33.45em; }	/* { width:401px; }	table backend (base, home, profile) 2. spalte */

textarea {}
.cols_40_rows_8 { width:24.6em; height:11.25em; }	/* { width:299px; height:137px; }	table gbook 2. spalte */
.cols_60_rows_6 { width:36.25em; height:8.75em; }	/* { width:439px; height:107px; }	blog comment */
.cols_96_rows_11 { width:57.25em; height:15em; }	/* { width:691px; height:182px; }	table backend (home, comment) 2. spalte */
.cols_96_rows_22 { width:57.25em; height:28.75em; }	/* { width:691px; height:347px; }	table backend (blog) 2. spalte */

/* Multimedia */
video {
  width:512px;
  height:288px;
  margin:10px;
}

/* Mitte */
main {
  text-align:left;
  margin:5px auto;
  width:1200px;
  display:block; /* kein default */
}

/* 4 Bereiche im Haupt-Fenster */

header {
  text-align:center;
  width:1200px;
  height:70px;
  overflow:hidden;
}

header div {
  text-align:left;
  margin:0px auto;
  width:820px;
  overflow:hidden;
}

nav {
  text-align:right;
  width:1200px;
  height:30px;
  overflow:hidden;
}
.sticky {
  background-color:#000000;
  position:sticky;
  top:0px;
  z-index:102;
}

nav ul {
  text-align:center;
  margin:0px; padding:0px;
  float:right;
}
nav li {
  float:left;
  list-style:none;
  margin:0px; padding:0px;
}
nav li a, nav li span {
  background-color:#000000;
  color:#993366;
  text-decoration:none;
  display:block;
  margin:0px;
  padding:2px;
}
nav li a:focus, nav li a:hover {
  background-color:#993366;
  color:#FFFFFF;
}

aside {
  float:left;
  font-size:small;
  width:145px;
  overflow:hidden;
}

section {
/*float:left;*/
  width:1055px;
  overflow:hidden;
}

/* 4 Bereiche im Text-Fenster */

div#home {
  font-size:small;
  text-align:center;
  width:1055px;
  overflow:auto;
}

div#profile, div#gallery {
  text-align:center;
  width:1055px;
  overflow:auto;
}

div#photos {
  float:left;
  text-align:center;
  color:#331122;
  font-size:small;
  width:855px;
  height:665px;
  overflow:auto;
}

div#photostrip {
  float:left;
  text-align:center;
  width:200px;
  height:620px;
  overflow:hidden;
}

div#photostripscroll {
  float:left;
  text-align:center;
  width:200px;
  height:20px;
  overflow:hidden;
}

div#blog, div#blogcommentform {
  float:left;
  text-align:justify;
  hyphens:auto;
  width:820px;
  overflow:auto;
}

div#blogstrip {
  float:right;
  text-align:justify;
  hyphens:auto;
  width:235px;
  overflow:hidden;
}

div#blogstrip p, div#blogstrip details { margin-left:35px; }

div#blog p, div#blog article {
  clear:both; /* vorher left, blogtag */
}

/******************************* blogtag start ********************************/

/* blogtag */
div#blogtag {
  float:right;
  margin:0px 5px 0px 5px;
  padding:0px;
  max-width:600px;
  border-bottom:2px solid #993366;
}

div#blogtag:after {
  clear:right;
  content:"";
}

/* blogtag - rubrik liste */
div#blogtag ul {
  text-align:center;
  margin:0px; padding:0px;
}

/* blogtag - tag liste */
div#blogtag ul ul {
  background-color:transparent; /* wird durch background-color des links oder span ueberdeckt */
  position:absolute;
  top:1.5em;
  left:0.25em;
  margin:0px; padding:0px;
  border:2px solid #993366;
}

/* blogtag - tag liste ausgeblendet */
div#blogtag ul ul {
  display:none;
}

/* blogtag - tag liste eingeblendet */
div#blogtag ul li:hover ul {
  display:block;
}

/* blogtag - listenpunkt */
div#blogtag li {
  float:left;
  list-style:none;
  position:relative;
  margin:0px; padding:0px;
  min-width:8em;
}

/* blogtag - rubrik listenpunkt */
div#blogtag ul li {
  background-color:#000000;
  margin:2px;
  padding:0px;
  border:2px solid #993366;
  border-bottom-style:none;
}

/* blogtag - tag listenpunkt */
div#blogtag ul ul li {
  float:none;
  background-color:transparent; /* wird durch background-color des links oder span ueberdeckt */
  margin:0px; padding:0px;
  border:0px;
  border-bottom:2px solid #993366;
}

/* blogtag - links, span */
div#blogtag a, div#blogtag span {
  text-decoration:none;
  display:block;
  margin:0px;
  padding:2px;
}

/* blogtag - rubrik links */
div#blogtag a {
  background-color:#000000;
  color:#993366;
}

/* blogtag - tag listenpunkt links */
div#blogtag ul ul a {
  background-color:#000000;
  color:#993366;
}

/* blogtag - tag listenpunkt span */
div#blogtag ul ul span {
  background-color:#993366;
  color:#FFFFFF;
}

/* blogtag - rubrik links aktiviert */
div#blogtag a#activated, div#blogtag a:focus, div#blogtag a:hover {
  background-color:#993366;
  color:#FFFFFF;
}

/* blogtag - tag listenpunkt links aktiviert */
div#blogtag ul ul a:focus, div#blogtag ul ul a:hover {
  background-color:#993366;
  color:#FFFFFF;
}

/* blogtag - mobile version, checkbox immer ausgeblendet */
input.checkbox_hack {
  display:none;
}

/* blogtag - mobile version, symbol bei bedarf einblenden */
label.more {
  background-color:#331122;
  display:none;
  margin:0px; padding:0px 2px;
}

/******************************** blogtag end *********************************/

div#blogphoto {
  float:left;
}

div#blogphoto div {
  display:none;
}

div#blogphoto:hover div {
  background-color:#000000; /* noscript */
  display:block;
  position:fixed;
  top:100px;
  right:200px;
  box-shadow:2px 2px 1024px #000000;
  z-index:101;
}

div#blogcomment {
  text-align:right;
}

div#blogquery {
  position:relative;
  text-align:right;
  width:235px;
  float:right; /* blogtag */
}

div#suggestion {
  background-color:#FFFFFF;
  color:#000000;
  line-height:1.04em;
  position:absolute;
  right:2px;
  text-align:left;
  padding-left:3px;
  width:210px;
  max-height:90px;
  border:1px solid #000000;
  overflow:auto;
  z-index:100;
}

div#blogbox {
  text-align:justify;
  hyphens:auto;
  color:#331122;
  font-size:small;
  margin-top:50px;
  width:95px;
  overflow:hidden;
}

/* footer */
footer {
  clear:left;
  color:#331122;
  font-size:small;
  margin-top:50px;
}

footer div {
  margin:0px auto;
  width:820px;
  overflow:hidden;
}

footer ul {
  float:left;
  margin-left:25px;
  margin-right:25px;
  padding:0px;
}

footer li {
  text-align:left;
  list-style:none;
  margin:0px; padding:2px;
}

footer p {
  clear:left;
}

/* gbook */
div#input_country { display:none; }
/* comment */
div#input_website { display:none; }

/* m??-device-width: */
/* viewport 320x480, 320x533, 320x568/9, 360x598, 360x640 */
/* 480x800, 600/1/2/3x960/1/2/3 */

@media only screen and (max-device-width:320px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:300px; }
	.tb_gallery { max-width:300px; }
	.gbook { width:300px; }
	.backend { width:310px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:4.75em; } /* size_5 */
	.size_48 { width:14.75em; } /* size_20 */
	textarea {}
	.cols_60_rows_6 { width:26em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:17em; }
	main, header, nav { width:320px; }
	header div img { width:100%; height:auto; }
	aside { display:none; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:320px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:288px; height:162px; }
	div#blog select { max-width:320px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:220px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:321px) and (max-device-width:360px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:340px; }
	.tb_gallery { max-width:340px; }
	.gbook { width:340px; }
	.backend { width:350px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:9.45em; } /* size_12 */
	.size_48 { width:17.4em; } /* size_24 */
	textarea {}
	.cols_60_rows_6 { width:29em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:20em; }
	main, header, nav { width:360px; }
	header div img { width:100%; height:auto; }
	aside { display:none; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:360px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:320px; height:180px; }
	div#blog select { max-width:360px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:260px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:361px) and (max-device-width:480px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:460px; }
	.tb_gallery { max-width:460px; }
	.gbook { width:460px; }
	.backend { width:470px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:3; -moz-column-count:3; column-count:3; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:17.4em; } /* size_24 */
	.size_48 { width:28.1em; } /* size_40 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:30em; }
	main, header, nav { width:480px; }
	aside { display:none; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:480px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:448px; height:252px; }
	div#blog select { max-width:480px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:380px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:481px) and (max-device-width:603px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:580px; }
	.tb_gallery { max-width:580px; }
	.gbook { width:580px; }
	.backend { width:590px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:4; -moz-column-count:4; column-count:4; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:3; -moz-column-count:3; column-count:3; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:14.75em; } /* size_20 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:40em; }
	main, header, nav { width:600px; }
	aside { display:none; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:600px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	div#blog select { max-width:600px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:500px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (max-device-width:480px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:315px; }
	.tb_gallery { max-width:315px; }
	.gbook { width:460px; }
	.backend { width:325px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:4.75em; } /* size_5 */
	.size_48 { width:14.75em; } /* size_20 */
	textarea {}
	.cols_60_rows_6 { width:27em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:18em; }
	main, header, nav { width:480px; }
	header div img { width:100%; height:auto; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:335px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:288px; height:162px; }
	div#blog select { max-width:335px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:235px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:481px) and (max-device-width:533px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:365px; }
	.tb_gallery { max-width:365px; }
	.gbook { width:510px; }
	.backend { width:375px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:9.45em; } /* size_12 */
	.size_48 { width:17.4em; } /* size_24 */
	textarea {}
	.cols_60_rows_6 { width:31em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:22em; }
	main, header, nav { width:530px; }
	header div img { width:100%; height:auto; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:385px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:352px; height:198px; }
	div#blog select { max-width:385px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:285px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:534px) and (max-device-width:568px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:400px; }
	.tb_gallery { max-width:400px; }
	.gbook { width:545px; }
	.backend { width:410px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:12.1em; } /* size_16 */
	.size_48 { width:22.75em; } /* size_32 */
	textarea {}
	.cols_60_rows_6 { width:34em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:25em; }
	main, header, nav { width:565px; }
	header div img { width:100%; height:auto; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:420px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:384px; height:216px; }
	div#blog select { max-width:420px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:320px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:569px) and (max-device-width:598px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:430px; }
	.tb_gallery { max-width:430px; }
	.gbook { width:575px; }
	.backend { width:440px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:3; -moz-column-count:3; column-count:3; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:14.75em; } /* size_20 */
	.size_48 { width:22.75em; } /* size_32 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:27em; }
	main, header, nav { width:595px; }
	header div img { width:100%; height:auto; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:450px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:416px; height:234px; }
	div#blog select { max-width:450px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:350px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:599px) and (max-device-width:640px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:475px; }
	.tb_gallery { max-width:475px; }
	.gbook { width:620px; }
	.backend { width:485px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:3; -moz-column-count:3; column-count:3; }
	.ul_backend_mp4 { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
	.ul_backend_xml { -webkit-column-count:3; -moz-column-count:3; column-count:3; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:4.75em; } /* size_5 */
	.size_32 { width:17.4em; } /* size_24 */
	.size_48 { width:28.1em; } /* size_40 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:31em; }
	main, header, nav { width:640px; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:495px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	video { width:448px; height:252px; }
	div#blog select { max-width:495px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:395px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:641px) and (max-device-width:800px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:635px; }
	.tb_gallery { max-width:635px; }
	.gbook { width:780px; }
	.backend { width:645px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:4; -moz-column-count:4; column-count:4; }
	.ul_backend_mp4 { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	input[type=text] {}
	.size_12 { width:4.75em; } /* size_5 */
	.size_40 { width:17.4em; } /* size_24 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:44em; }
	main, header, nav { width:800px; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:655px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	div#blog select { max-width:655px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:555px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:801px) and (max-device-width:963px) and (orientation:landscape) {
	body { min-width:0px; min-height:0px; }
	table {}
	.tb_profile { max-width:795px; }
	.tb_gallery { max-width:795px; }
	ul {}
	.ul_backend_jpg { -webkit-column-count:5; -moz-column-count:5; column-count:5; }
	.ul_backend_mp4 { -webkit-column-count:2; -moz-column-count:2; column-count:2; }
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:55em; }
	main, header, nav { width:960px; }
	section, div#home, div#profile, div#gallery, div#blog, div#blogcommentform, footer div, header div { width:815px; }
	div#blog, div#blogstrip, div#blogcommentform { float:none; }
	div#blog select { max-width:815px; }
	div#gallery img { width:100%; height:auto; }
	div#photos { width:715px; min-height:90%; }
	div#photos img, figure img { max-width:100%; height:auto; }
	div#photostrip { width:100px; height:80%; }
	div#photostrip img { width:80%; height:auto; }
	div#photostripscroll { width:100px; height:10%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; }
	div#blogtag { margin:2px 5px 0px 5px; max-width:160px; border:0px; }
	div#blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; margin:2px; padding:2px; border:2px solid #993366; }
	div#blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	div#blogtag ul ul { display:inline; }
	div#blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	div#blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; }
	/******************************** blogtag end *********************************/
}

@media only screen and (min-device-width:964px) and (max-device-width:1024px) and (orientation:landscape) {
	body { min-width:0px; min-height:0px; }
	main, header, nav { width:1000px; }
	section, div#home, div#profile, div#gallery { width:855px; }
	div#photos { width:655px; }
	div#blog, div#blogcommentform, footer div, header div { width:620px; /* oder float:none; bei 855px */ }
	div#blog select { max-width:620px; }
}
