/* Fonts */
@font-face {
  font-family:"Bamboo";
  src:url("fonts/BARTB___.woff2") format("woff2");
}

/* Farben */
:root {
  --colBlack:        #000000; /* background, link-suggestion, text-suggestion, border, shadow */
  --colWhite:        #FFFFFF; /* fett, link, text, pre, background-suggestion */
  --colPurple:       #993366; /* text, header, kursiv, link, monospace, background-link, border-thumbnail, border-tag */
  --colDarkPurple:   #662244; /* link-fotos, link-comment, link-footer, figcaption, text-box, text-footer, text-photos */
  --colDarkerPurple: #331122; /* background-table, background-label, border-footer */
  --colGrey:         #F5F5F5; /* background-link-hover-suggestion */
}

body {
  background-color:var(--colBlack);
  background-image:url(back.jpg);
  background-repeat:no-repeat;
  background-position:center 130px; /* 100+30 */ 
  background-attachment:fixed;
  font-family:Arial,Helvetica,sans-serif;
  color:var(--colPurple);
  font-size:medium;
  line-height:1.5;
  text-align:left;
  margin:5px auto;
  max-width:1260px;
  min-height:830px; /* 100+30+20+660+20 */
  display:flex;
  flex-flow:row wrap; /* nebeneinander */
  align-items:flex-start; /* von oben */
  justify-content:space-between; /* von links, auffüllend bis rechts */
}
.body_gbook {
  background-image:url();
  text-align:center;
  min-width:0px;
  min-height:0px;
  display:inherit;
}
.body_backend {
  background-image:url();
  align-content:flex-start;
}

/* Header */
h1 {
  font-size:x-large;
  color:var(--colPurple);
  font-weight:bold;
}

h2 {
  font-size:medium;
  color:var(--colPurple);
  font-weight:bold;
}
h2::first-letter {
  font-size:200%;
  line-height:1;
}

h3 {
  font-size:small;
  color:var(--colPurple);
  font-weight:bold;
  font-family:Bamboo,Arial,Helvetica,sans-serif;
  text-transform:lowercase;
}

/* inline Textformat+Links */
b   { font-size:medium; color:var(--colWhite); font-weight:bold; } /* default bold */
b i { font-size:medium; color:var(--colWhite); font-weight:bold; font-style:italic; }
i   { font-size:medium; color:var(--colPurple); font-style:italic; } /* default italic */
i b { font-size:medium; color:var(--colPurple); font-style:italic; font-weight:bold; }
a:link { font-size:medium; color:var(--colPurple); text-decoration:none; }
a:visited { font-size:medium; color:var(--colPurple); text-decoration:none; }
a:active { font-size:medium; color:var(--colPurple); text-decoration:none; }
article a:link { font-size:medium; color:var(--colPurple); text-decoration:underline; }
article a:visited { font-size:medium; color:var(--colPurple); text-decoration:underline; }
article a:active { font-size:medium; color:var(--colPurple); text-decoration:underline; }
.photos a:link { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
.photos a:visited { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
.photos a:active { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
div#blogbox a:link { font-size:small; color:var(--colPurple); text-decoration:none; }
div#blogbox a:visited { font-size:small; color:var(--colPurple); text-decoration:none; }
div#blogbox a:active { font-size:small; color:var(--colPurple); text-decoration:none; }
div#blogcomment a:link { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
div#blogcomment a:visited { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
div#blogcomment a:active { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
div#suggestion a:link { font-size:small; color:var(--colBlack); text-decoration:none; }
div#suggestion a:visited { font-size:small; color:var(--colBlack); text-decoration:none; }
div#suggestion a:active { font-size:small; color:var(--colBlack); text-decoration:none; }
body>footer a:link { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
body>footer a:visited { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
body>footer a:active { font-size:small; color:var(--colDarkPurple); text-decoration:none; }
figcaption a:link { font-size:small; color:var(--colPurple); text-decoration:none; }
figcaption a:visited { font-size:small; color:var(--colPurple); text-decoration:none; }
figcaption a:active { font-size:small; color:var(--colPurple); text-decoration:none; }

/* span */
span#white a:link { font-size:medium; color:var(--colWhite); text-decoration:none; }
span#white a:visited { font-size:medium; color:var(--colWhite); text-decoration:none; }
span#white a:active { font-size:medium; color:var(--colWhite); text-decoration:none; }
span#white_bold a:link { font-size:medium; color:var(--colWhite); font-weight:bold; text-decoration:none; }
span#white_bold a:visited { font-size:medium; color:var(--colWhite); font-weight:bold; text-decoration:none; }
span#white_bold a:active { font-size:medium; color:var(--colWhite); font-weight:bold; text-decoration:none; }
span#white_small a:link { font-size:small; color:var(--colWhite); text-decoration:none; }
span#white_small a:visited { font-size:small; color:var(--colWhite); text-decoration:none; }
span#white_small a:active { font-size:small; color:var(--colWhite); text-decoration:none; }

span#white {
  font-size:medium;
  color:var(--colWhite);
}

span#white_bold {
  font-size:medium;
  color:var(--colWhite);
  font-weight:bold;
}

span#white_small {
  font-size:small;
  color:var(--colWhite);
}

/* Monospace Text */
span#monospace, pre#monospace {
  font-family:monospace; /* default */
  font-size:medium;
  color:var(--colPurple);
}

pre {
  font-family:monospace; /* default */
  font-size:small;
  color:var(--colWhite);
}

/* Kombi Bild+Beschriftung */
figure { margin:0; }
.floating { float:left; margin:5px 10px 5px calc((-3/28)*100%); max-width:62%; display:table; } /* 10-70=-60 */
.bannerstrip_fig { margin:1em auto; display:table; }
.featuredimage { margin:5px 10px 5px calc((-3/28)*100%); } /* 10-70=-60 */

figcaption {
  font-size:small;
  color:var(--colDarkPurple);
  font-style:italic;
  text-align:center;
}
.floating_caption { text-align:left; display:table-caption; caption-side:bottom; }
.bannerstrip_caption { text-align:left; display:table-caption; caption-side:bottom; }

/* Tabelle */
table {
  font-size:medium;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-width:0px;
  border-spacing:2px; /* default */
}
.tb_profile {
  background-image:url(transpar.png);
  font-size:90%;
  text-align:left;
  margin-top:1em;
  margin-bottom:1em;
  max-width:100%; /* 3-1-[8]-1-5 */
  border-spacing:10px;
}
.tb_gallery {
  background-image:url(transpar.png);
  font-size:90%;
  text-align:left;
  margin-top:1em;
  margin-bottom:1em;
  max-width:100%; /* 3-1-[8]-1-5 */
  border-spacing:10px;
}
.gbook {
  text-align:left;
  width:800px;
  border-spacing:10px;
}
.backend {
  font-size:90%;
  text-align:left;
  width:800px;
  margin-top:1em;
  margin-bottom:1em;
  border-spacing:5px;
}
.backend a { font-size:inherit; }
.backend b { font-size:inherit; }
.backend i { font-size:inherit; }

.blog table {
  background-image:url(transpar.png);
  font-size:90%;
  text-align:left;
  margin:1em 0.5em;
  max-width:100%; /* 3-1-[8]-1-5 */
  /*border-spacing:2px;*/
}
.blog table a { font-size:inherit; }
.blog table b { font-size:inherit; }
.blog table i { font-size:inherit; }

tr { background-color:transparent; }
.farbig { background-color:var(--colDarkerPurple); }
.tr_colored { background-color:var(--colDarkerPurple); }
th { vertical-align:top; }
.th_profile { padding-right:5px; width:25%; }
td {}
.td_photos { vertical-align:top; }
.td_profile { vertical-align:top; padding-right:5px; width:25%; }
.td_backend { vertical-align:top; padding-right:5px; width:15%; }
.td_media { vertical-align:top; padding-right:5px; }
.td_wrap { word-break:break-word; }
.blog table td { vertical-align:top; padding-right:1em; }

/* Imgage Platz+Rahmen */
img {}
.border { border:1px solid var(--colBlack); }
.home_small { border:1px solid var(--colBlack); margin-bottom:25px; }
.profile_small { border:1px solid var(--colBlack); margin-top:25px; margin-bottom:25px; }
.profile_big { border:1px solid var(--colBlack); margin-top:100px; }
.photos_arrow { border:1px solid var(--colBlack); margin-top:5px; }
.aside_small { border:0px; margin-top:50px; }
.thumbnail { border:2px solid var(--colPurple); margin:0em 0.5em 1em; }
.noborder { border:0px; }

.photos img, .bannerstrip figure img, .blog figure img { max-width:99%; height:auto; }
body>footer figure img { max-width:100%; height:auto; }

/* Liste */
ul {}
.ul_backend_jpg { column-count:6; }
.ul_backend_mp4 { column-count:2; }
.ul_backend_xml { column-count:4; }

li {}
.li_backend { list-style:none; cursor:pointer; }

span.list {
  display:list-item;
  list-style-type:"- ";
  list-style-position:outside;
  margin-left:0.67em;
  text-indent:0;
}

details {
  width:100%;
}
.details_backend { width:145px; margin-left:0px; }

details ul {
  margin-top:0px;
  margin-bottom:0.5em;
  padding-left:2em;
}

details li {
  list-style:none;
}

/* Textfelder */
input[type=number] {}
.size_4 { width:4.1em; }	/* { width:59px; }	table backend (blog) options */

input[type=text] {}
.size_4 { width:4.1em; }	/* { width:59px; }	table backend (photos, comment) 2. spalte */
.size_5 { width:4.75em; }	/* { width:67px; }	table gbook 2. spalte */
.size_12 { width:9.45em; }	/* { width:123px; }	table backend (photos, languages) 2. spalte */
.size_16 { width:12.1em; }	/* { width:155px; }	table backend (user login, password) 2. spalte */
.size_20 { width:14.75em; }	/* { width:187px; }	table gbook 1. spalte, blog comment */
/*.size_24 { width:17.4em; }*/	/* { width:209px }	blogquery (alt)*/
.size_32 { width:22.75em; }	/* { width:283px; }	table backend (profile) 1. spalte, (base, home, profile, blog, comment, admin) 2. spalte */
/*.size_40 { width:28.1em; }*/	/* { width:347px; }	table backend (photos) 2. spalte */
.size_40 { width:27.6em; }	/* in kombination mit size_4 und size_12 */
.size_48 { width:33.45em; }	/* { width:401px; }	table backend (base, home, profile) 2. spalte */
.size_80p { width:75.2%; }	/*			blogquery */

input[type=button] {}
.size_20p { width:18.8%; }	/*			blogquery */

textarea {}
.cols_40_rows_8 { width:24.6em; height:11.25em; }	/* { width:299px; height:137px; }	table gbook 2. spalte */
.cols_60_rows_6 { width:36.25em; height:8.75em; }	/* { width:439px; height:107px; }	blog comment */
.cols_96_rows_11 { width:57.25em; height:15em; }	/* { width:691px; height:182px; }	table backend (home, comment) 2. spalte */
.cols_96_rows_22 { width:57.25em; height:28.75em; }	/* { width:691px; height:347px; }	table backend (blog) 2. spalte */

/* Multimedia */
video {
  width:512px;
  height:288px;
  margin:10px;
}

/* 5 Bereiche im Haupt-Fenster */

/* Titel */
body>header {
  text-align:center;
  height:100px;
  overflow:hidden;
  order:1;
  flex:0 0 100%; /* grow nein, shrink nein, basis 1260px (100%) [3-1-8-1-5] */
}

header div {
  text-align:left;
  margin:0px 0px 0px calc(( 3/18)*100%); /* [3]-1-8-1-5 */
  width:             calc((15/18)*100%); /* 3-[1-8-1-5] */
  overflow:hidden;
}

/* Menue */
body>nav {
  /*text-align:right;*/
  height:2em;
  overflow:hidden;
  order:2;
  flex:0 0 100%; /* grow nein, shrink nein, basis 1260px (100%) [3-1-8-1-5] */
}
.sticky {
  background-color:var(--colBlack);
  position:sticky;
  top:0px;
  z-index:102;
  align-self:auto; /* backend aside */
}

nav ul {
  text-align:center;
  margin:0px; padding:0px;
  display:flex;
  flex-flow:row nowrap; /* nebeneinander */
  align-items:flex-start; /* von oben */
  justify-content:flex-end; /* von rechts, aneinander nach links */
}

nav li {
  list-style:none;
  margin:0px; padding:0px;
}

nav li a, nav li span {
  background-color:var(--colBlack);
  color:var(--colPurple);
  text-decoration:none;
  display:block;
  margin:0px;
  padding:2px;
}

nav li a:focus, nav li a:hover {
  background-color:var(--colPurple);
  color:var(--colWhite);
}

/* Leiste */
body>aside {
  font-size:small;
  width:calc((3/18)*100%); /* [3]-1-8-1-5 */
  overflow:hidden;
  order:3;
  flex:0 0 calc((3/18)*100%); /* grow nein, shrink nein, basis 210px [3]-1-8-1-5 */
  align-self:stretch; /* nach unten */
}

aside div#blogbox {
  text-align:justify;
  hyphens:auto;
  color:var(--colDarkPurple);
  font-size:small;
  margin-top:50px;
  width:100%;
  overflow:hidden;
}

/* Text/Inhalt */
body>main {
  overflow:hidden;
  width:calc((15/18)*100%); /* 3-[1-8-1-5] */
  order:4;
  flex:0 0 calc((15/18)*100%); /* grow nein, shrink nein, basis 1050px 3-[1-8-1-5] */
  align-self:stretch; /* nach unten */
}

/* footer */
body>footer {
  color:var(--colDarkPurple);
  font-size:small;
  text-align:center;
  overflow:hidden;
  order:5;
  flex:0 0 100%; /* grow nein, shrink nein, basis 1260px (100%) [3-1-8-1-5] */
}

body>footer div {
  margin:1em calc((5/18)*100%) 1em calc((3/18)*100%); /* [3]-1-8-1-[5] */
  width:calc((10/18)*100%); /* 3-[1-8-1]-5 */
  border-top:1px solid var(--colDarkerPurple);
  overflow:hidden;
  display:flex;
  flex-flow:row wrap; /* nebeneinander */
  align-items:flex-start; /* von oben */
  justify-content:flex-start; /* von links, aneinander nach rechts */
}

body>footer ul {
  margin:0px 25px;
  padding:0px;
}

body>footer li {
  text-align:left;
  list-style:none;
  margin:0px; padding:2px;
}

body>footer p {
  margin-top:2em;
  margin-bottom:0.67em;
}

/* 5 Bereiche im Text-Fenster */

/* | home (1) | bannerstrip (2) | */
.grid-container-home {
  text-align:center;
  overflow:auto;
  display:grid;
  grid-template-columns:calc((1/15)*100%) calc((8/15)*100%) calc((1/15)*100%) calc((5/15)*100%); /* 2 spalten, 3-[1-8-1]-[5] */
  grid-template-areas:". home . bannerstrip"; /* 1 zeile */
}

/* | profile (1) | bannerstrip (2) | */
.grid-container-profile {
  text-align:center;
  overflow:auto;
  display:grid;
  grid-template-columns:calc((1/15)*100%) calc((8/15)*100%) calc((1/15)*100%) calc((5/15)*100%); /* 2 spalten, 3-[1-8-1]-[5] */
  grid-template-areas:". profile . bannerstrip"; /* 1 zeile */
}

/* | gallery (1) | bannerstrip (2) | */
.grid-container-gallery {
  text-align:center;
  overflow:auto;
  display:grid;
  grid-template-columns:calc((1/15)*100%) calc((8/15)*100%) calc((1/15)*100%) calc((5/15)*100%); /* 2 spalten, 3-[1-8-1]-[5] */
  grid-template-areas:". gallery . bannerstrip"; /* 1 zeile */
}

/* | photos (1) | photostripscroll (2) | */
/* |            |----------------------| */
/* |            | photostrip (3)       | */
/* |            |----------------------| */
/* |            | photostripscroll (4) | */
.grid-container-photos {
  text-align:center;
  overflow:auto;
  display:grid;
  grid-template-columns:calc((13/15)*100%) calc((2/15)*100%); /* 2 spalten 3-[13]-[2] */
  grid-template-areas:"photos photostripscroll_up" "photos photostrip" "photos photostripscroll_down"; /* 3 zeilen */
}

/* |         blogtag (2) >|  blogquery (1) >| */
/* |----------------------|-----------------| */
/* |< blog (3)            |< blogstrip (4)  | */
/* |----------------------|                 | */
/* |< blogcommentform (5) |                 | */
.grid-container-blog {
  text-align:left;
  overflow:hidden;
  display:grid;
  grid-template-columns:calc((1/15)*100%) calc((8/15)*100%) calc((1/15)*100%) calc((5/15)*100%); /* 2 spalten, 3-[1-8-1]-[5] */
  grid-template-areas:"blogtag blogtag blogtag blogquery" ". blog . blogstrip" ". blogcommentform . blogstrip"; /* 3 zeilen */
}

section {}

/* home grid, profile grid, gallery grid */

.home {
  grid-area:home;
  font-size:small;
  text-align:center;
  overflow:auto;
}

.profile {
  grid-area:profile;
  text-align:center;
  overflow:auto;
}

.gallery {
  grid-area:gallery;
  text-align:center;
  overflow:auto;
}

.bannerstrip {
  grid-area:bannerstrip;
  font-size:small;
  text-align:left;
  overflow:auto;
}

/* photos grid */

.photos {
  grid-area:photos;
  color:var(--colDarkPurple);
  font-size:small;
  min-height:700px;
  max-height:900px;
  overflow:auto;
}

.photostrip {
  grid-area:photostrip;
  height:660px;
  overflow:hidden;
}

.photos + .photostripscroll {
 grid-area:photostripscroll_up;
}

.photostrip + .photostripscroll {
  grid-area:photostripscroll_down;
}

.photostripscroll {
  height:20px;
  overflow:hidden;
}

/* blog grid */

.blogquery { 
  grid-area:blogquery;
  position:relative;
  text-align:right;
}

/******************************* blogtag start ********************************/

/* blogtag */
.blogtag {
  grid-area:blogtag;
  margin:0px 5px 0px 5px;
  padding:0px;
  display:flex;
  flex-flow:row-reverse nowrap; /* nebeneinander */
  align-items:flex-start; /* von oben */
  justify-content:flex-start; /* von rechts, aneinander nach links (reverse) */
}

/* blogtag - rubrik liste */
.blogtag ul {
  text-align:center;
  margin:0px; padding:0px;
  border-bottom:2px solid var(--colPurple);
}

/* blogtag - tag liste */
.blogtag ul ul {
  background-color:transparent; /* wird durch background-color des links oder span ueberdeckt */
  position:absolute;
  top:1.75em;
  left:0.25em;
  margin:0px; padding:0px;
  border:2px solid var(--colPurple);
}

/* blogtag - tag liste ausgeblendet */
.blogtag ul ul {
  display:none;
}

/* blogtag - tag liste eingeblendet */
.blogtag ul li:hover ul {
  display:block;
}

/* blogtag - listenpunkt */
.blogtag li {
  float:left;
  list-style:none;
  position:relative;
  margin:0px; padding:0px;
  min-width:8em;
  z-index:2;
}

/* blogtag - rubrik listenpunkt */
.blogtag ul li {
  background-color:var(--colBlack);
  margin:2px;
  padding:0px;
  border:2px solid var(--colPurple);
  border-bottom-style:none;
}

/* blogtag - tag listenpunkt */
.blogtag ul ul li {
  float:none;
  background-color:transparent; /* wird durch background-color des links oder span ueberdeckt */
  margin:0px; padding:0px;
  border:0px;
  border-bottom:2px solid var(--colPurple);
}

/* blogtag - links, span */
.blogtag a, div#blogtag span {
  text-decoration:none;
  display:block;
  margin:0px;
  padding:2px;
}

/* blogtag - rubrik links */
.blogtag a {
  background-color:var(--colBlack);
  color:var(--colPurple);
}

/* blogtag - tag listenpunkt links */
.blogtag ul ul a {
  background-color:var(--colBlack);
  color:var(--colPurple);
}

/* blogtag - tag listenpunkt span */
.blogtag ul ul span {
  background-color:var(--colPurple);
  color:var(--colWhite);
}

/* blogtag - rubrik links aktiviert */
.blogtag a#activated, .blogtag a:focus, .blogtag a:hover {
  background-color:var(--colPurple);
  color:var(--colWhite);
}

/* blogtag - tag listenpunkt links aktiviert */
.blogtag ul ul a:focus, .blogtag ul ul a:hover {
  background-color:var(--colPurple);
  color:var(--colWhite);
}

/* blogtag - mobile version, checkbox immer ausgeblendet */
input.checkbox_hack {
  display:none;
}

/* blogtag - mobile version, symbol bei bedarf einblenden */
label.more {
  background-color:var(--colDarkerPurple);
  display:none;
  margin:0px; padding:0px 2px;
}

/******************************** blogtag end *********************************/

.blog { 
  grid-area:blog;
  text-align:justify;
  hyphens:auto;
  overflow:visible; /* floating figure */
}

.blog p, .blog article {
  clear:left; /* nach blogphoto */
}

.blog article p {
  clear:none; /* neben figure */
}

.blog>p {
  padding-left:1.5em; /* 32em + (2*1.5em) */
  padding-right:1.5em;
}

.blog>p, .blog article {
  /*padding*/margin-top:1em;
}

.blog article header h1, .blog article header h2, .blog article p {
  margin:auto;
  max-width:32em;
}

.blog article header h1 { max-width:20em; }
.blog article>header + p { margin-top:1em;}

.blogstrip {
  grid-area:blogstrip;
  text-align:justify;
  hyphens:auto;
  overflow:hidden;
}

.blogstrip p, .blogstrip details { width:100%; }

.blogcommentform {
  grid-area:blogcommentform;
  text-align:justify;
  hyphens:auto;
  overflow:auto;
}

.blogcommentform>p, .blogcommentform form {
  padding-left:1.5em; /* 32em + (2*1.5em) */
  padding-right:1.5em;
}

.blogcommentform>p, .blogcommentform article, .blogcommentform form {
  /*padding*/margin-top:1em;
}

.blogcommentform article p, .blogcommentform article blockquote {
  margin:auto;
  max-width:32em;
}

.blogcommentform blockquote {
  font-style:italic;
  margin:0em;
}

div{}

div#suggestion {
  background-color:var(--colWhite);
  color:var(--colBlack);
  line-height:1.04em;
  position:absolute;
  left:1em;
  text-align:left;
  padding-left:3px;
  width:75%;
  max-height:90px;
  border:1px solid var(--colBlack);
  overflow:auto;
  z-index:100;
}

div#suggestion a:hover {
  background-color:var(--colGrey);
}

div#blogphoto {
  display:inline-flex; /* (alt) float:left; */
}

div#blogphoto div {
  display:none;
}

div#blogphoto:hover div {
  background-color:var(--colBlack); /* noscript */
  display:block;
  position:fixed;
  top:100px;
  right:200px;
  box-shadow:2px 2px 1024px var(--colBlack);
  z-index:101;
}

div#blogcomment {
  text-align:right;
}

article {}

/* featured image */
article>figure img {
  position:relative; z-index:0;
}

/* überdeckt featured image */
article>header {
  background-color:var(--colBlack);
  margin-top:-3em;
  position:relative; z-index:1;
}

/* blogmedia */
article>footer {
  margin-top:1em;
  clear:left; /* nach figure */
}

/***************************** text indent start ******************************/

/* default */
article>p, blockquote>p {
  margin-top:1em;
  margin-bottom:1em;
  text-indent:0em;
}

/* alle direkt folgenden p, außer leer */
article>p + p:not(:empty), blockquote>p + p:not(:empty) {
  margin-top:0em;
}

/* alle nicht leeren p, die direkt von einem p gefolgt werden */
article>p:not(:empty):has(+ p), blockquote>p:not(:empty):has(+ p) {
  margin-bottom:0em;
}

/* alle direkt folgenden p, außer leer, die nicht einem leeren p folgen */
article>p:not(:empty) + p:not(:empty), blockquote>p:not(:empty) + p:not(:empty) {
  text-indent:1em;
}

/* alle leeren p, die nicht von einem figure gefolgt werden (echte leere absätze) */
article>p:empty/*:not(:has(+ figure))*/, blockquote>p:empty {
  height:1em;
}

blockquote {
  padding-top:1em;
}

/****************************** text indent end *******************************/

/* Sonstiges */

/* gbook */
div#input_country { display:none; }
/* comment */
div#input_website { display:none; }

/* portrait: */
/* +---------+------+-----------+---------------------+ */
/* | pattern | unit | max-width |      viewport       | */
/* +---------+------+-----------+---------------------+ */
/* | 5       |    5 | [350]     |                 320 | */
/* | 8       |    8 | [560]     | 360,393,430,480,540 | */
/* | 5-1-3   |    9 | [630]     |                 600 | */
/* | 8-1-5   |   14 | [980]     |                 768 | */
/* | -       |    - | -         |                1024 | */
/* +---------+------+-----------+---------------------+ */

/* ----8---v = 560px */
@media only screen and (width <= 560px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; flex-flow:column nowrap; align-items:center; justify-content:flex-start; } /* portrait -> column */
	figure {}
	.floating { margin-left:10px; }
	.featuredimage { margin-left:10px; }
	table {}
	.gbook { width:100%; }
	.backend { width:100%; }
	ul {}
	.ul_backend_jpg { column-count:4; }
	.ul_backend_mp4 { column-count:1; }
	input[type=text] {}
	.size_40 { width:14.75em; } /* size_20 */
	.size_32 { width:17.4em; } /* size_24 */
	.size_48 { width:27.6em; } /* size_40 */
	textarea {}
	.cols_96_rows_11, .cols_96_rows_22 { width:36em; }
	body>header { flex-basis:100px; } /* flex column -> flex height */
	body>header div { margin-left:0px; width:100%; }
	body>header div img { max-width:100%; height:auto; } /* div width < img width 728px */
	body>nav { flex-basis:2em; } /* flex column -> flex height */
	body>aside { flex-basis:auto; display:none; } /* portrait -> leiste ausblenden */
	body>main { width:100%; flex-basis:auto; } /* portrait -> content komplette breite */
	body>footer { flex-basis:auto; }
	body>footer div { width:100%; margin-right:0px; margin-left:0px; }
	.grid-container-home, .grid-container-profile, .grid-container-gallery, .grid-container-photos, .grid-container-blog { width:100%; }
	.grid-container-home, .grid-container-profile, .grid-container-gallery { grid-template-columns:100%; } /* 1 spalte, 2 zeilen */
	.grid-container-home { grid-template-areas:'home' 'bannerstrip'; }
	.grid-container-profile { grid-template-areas:'profile' 'bannerstrip'; }
	.grid-container-gallery { grid-template-areas:'gallery' 'bannerstrip'; }
	.grid-container-photos { grid-template-columns:calc((1/8)*100%) calc((6/8)*100%) calc((1/8)*100%); grid-template-areas:'photos photos photos' 'photostripscroll_up photostrip photostripscroll_down'; } /* portrait -> 3 spalten, 2 zeilen */
	.grid-container-blog { grid-template-columns:calc((3/8)*100%) calc((5/8)*100%); grid-template-areas:'blogtag blogquery' 'blog blog' 'blogstrip blogstrip' 'blogcommentform blogcommentform'; } /* 1 spalte, 4 zeilen */
	.gallery img { max-width:100%; height:auto; }
	.photos { min-height:100vw; max-height:0px;} /* mindestens so hoch wie breit */
	.photostrip, .photostripscroll { height:100px; text-align:left; } /* portrait untere zeile */
	.photostrip { overflow:auto; display:flex; flex-flow:row nowrap; } /* alles in einer zeile nebeneinander */
	.photostrip img { width:auto; height:80%; }
	.photostripscroll img { transform:rotate(-90deg) translate(-50%,-50%); } /* portrait untere zeile */
	.blogcommentform select { max-width:100%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; } /* mobile version, symbol einblenden */
	.blogtag { margin:2px 5px 0px 5px; }
	.blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; left:calc((3/8)*100vw); margin:2px; padding:2px; max-width:160px; border:2px solid #993366; z-index:101; }
	.blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	.blogtag ul ul { display:inline; }
	.blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	.blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; } /* mobile version, alle listen auf der ebene der checkbox ein- bzw. ausblenden */
	/******************************** blogtag end *********************************/
	article>header { margin-top:0em; }
}
/* ----8-1-5 = 980px */
@media only screen and (560px < width < 1024px) and (orientation:portrait) {
	body { background-image:url(); min-width:0px; min-height:0px; flex-flow:column nowrap; align-items:center; justify-content:flex-start; } /* portrait -> column */
	figure {}
	.floating { margin-left:10px; }
	.featuredimage { margin-left:10px; }
	table {}
	.gbook { width:100%; }
	.backend { width:100%; }
	body>header { flex-basis:100px; } /* flex column -> flex height */
	body>header div { margin-left:0px; width:100%; }
	body>header div img { max-width:100%; height:auto; } /* div width < img width 728px */
	body>nav { flex-basis:2em; } /* flex column -> flex height */
	body>aside { flex-basis:auto; display:none; } /* portrait -> leiste ausblenden */
	body>main { width:100%; flex-basis:auto; } /* portrait -> content komplette breite */
	body>footer { flex-basis:auto; }
	body>footer div { width:100%; margin-left:0px;}
	.grid-container-home, .grid-container-profile, .grid-container-gallery, .grid-container-photos, .grid-container-blog { width:100%; }
	.grid-container-home, .grid-container-profile, .grid-container-gallery { grid-template-columns:calc((8/14)*100%) calc((1/14)*100%) calc((5/14)*100%); } /* 2 spalten, 1 zeile */
	.grid-container-home { grid-template-areas:'home . bannerstrip'; }
	.grid-container-profile { grid-template-areas:'profile . bannerstrip'; }
	.grid-container-gallery { grid-template-areas:'gallery . bannerstrip'; }
	.grid-container-photos { grid-template-columns:calc((1/14)*100%) calc((12/14)*100%) calc((1/14)*100%); grid-template-areas:'photos photos photos' 'photostripscroll_up photostrip photostripscroll_down'; } /* portrait -> 3 spalten, 2 zeilen */
	.grid-container-blog { grid-template-columns:calc((8/14)*100%) calc((1/14)*100%) calc((5/14)*100%); grid-template-areas:'blogtag blogtag blogquery' 'blog . blogstrip' 'blogcommentform . blogstrip'; } /* 2 spalten, 3 zeilen */
	.gallery img { max-width:100%; height:auto; }
	.photos { min-height:100vw; max-height:0px;} /* mindestens so hoch wie breit */
	.photostrip, .photostripscroll { height:100px; text-align:left; } /* portrait untere zeile */
	.photostrip { overflow:auto; display:flex; flex-flow:row nowrap; } /* alles in einer zeile nebeneinander */
	.photostrip img { width:auto; height:80%; }
	.photostripscroll img { transform:rotate(-90deg) translate(-50%,-50%); } /* portrait untere zeile */
	.blogcommentform select { max-width:100%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; } /* mobile version, symbol einblenden */
	.blogtag { margin:2px 5px 0px 5px; }
	.blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; left:calc((9/14)*100vw); margin:2px; padding:2px; max-width:160px; border:2px solid #993366; z-index:101; }
	.blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	.blogtag ul ul { display:inline; }
	.blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	.blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; } /* mobile version, alle listen auf der ebene der checkbox ein- bzw. ausblenden */
	/******************************** blogtag end *********************************/
	article>header { margin-top:0em; }
}

/* landscape: */
/* +-----------+------+-----------+-----------------------+ */
/* |  pattern  | unit | max-width |       viewport        | */
/* +-----------+------+-----------+-----------------------+ */
/* | 2-1-5     |    8 | [560]     |                   480 | */
/* | 3-1-8     |   12 | [840]     |   600,640,768,780,800 | */
/* | 2-1-5-1-3 |   12 | [840]     |   600,640,768,780,800 | */
/* | 3-1-8-1-5 |   18 | [1260]    | 850,915,960,1024,1080 | */
/* | -         |    - | -         |                  1280 | */
/* +-----------+------+-----------+-----------------------+ */

/* 3-1-8---v = 840px */
@media only screen and (width <= 840px) and (orientation:landscape) {
	body { background-image:url(); min-width:0px; min-height:0px; }
	table {}
	.gbook { width:100%; }
	.backend { width:100%; }
	ul {}
	.ul_backend_jpg { column-count:4; }
	.ul_backend_mp4 { column-count:1; }
	input[type=text] {}
	.size_40 { width:17.4em; } /* size_24 */
	.size_32 { width:17.4em; } /* size_24 */
	.size_48 { width:27.6em; } /* size_40 */
	textarea {}
	.cols_60_rows_6 { width:28em; }
	.cols_96_rows_11, .cols_96_rows_22 { width:42em; }
	body>header div { width:calc((9/12)*100%); }
	body>header div img { max-width:100%; height:auto; } /* div width < img width 728px */
	body>main { width:calc((9/12)*100%); flex-basis:calc((9/12)*100%); }
	body>footer div { width:calc((9/12)*100%); margin-right:0px; }
	.grid-container-home, .grid-container-profile, .grid-container-gallery, .grid-container-photos, .grid-container-blog { width:100%; }
	.grid-container-home, .grid-container-profile, .grid-container-gallery { grid-template-columns:calc((1/9)*100%) calc((8/9)*100%); } /* 1 spalte, 2 zeilen */
	.grid-container-home { grid-template-areas:'. home' '. bannerstrip'; }
	.grid-container-profile { grid-template-areas:'. profile' '. bannerstrip'; }
	.grid-container-gallery { grid-template-areas:'. gallery' '. bannerstrip'; }
	.grid-container-photos { grid-template-columns:calc((7/9)*100%) calc((2/9)*100%); }
	.grid-container-blog { grid-template-columns:calc((1/9)*100%) calc((3/9)*100%) calc((5/9)*100%); grid-template-areas:'blobtag blogtag blogquery' '. blog blog' '. blogstrip blogstrip' '. blogcommentform blogcommentform'; } /* 1 spalte, 4 zeilen */
	.gallery img { max-width:100%; height:auto; }
	.photos { min-height:50vw; max-height:0px; } /* mindestens halbe breite */
	.photostrip { height:50vw; overflow:auto; }
	.photostrip img { width:80%; height:auto; }
	.blogcommentform select { max-width:100%; }
	/******************************* blogtag start ********************************/
	label.more { display:inline; } /* mobile version, symbol einblenden */
	.blogtag { margin:2px 5px 0px 5px; }
	.blogtag ul { background-color:#000000; text-align:left; /*display:none;*/ list-style:none; position:absolute; left:calc((7/12)*100vw); margin:2px; padding:2px; max-width:160px; border:2px solid #993366; z-index:101; }
	.blogtag ul ul { background-color:#000000; position:relative; top:0px; left:15px; border:0px; }
	.blogtag ul ul { display:inline; }
	.blogtag ul li { clear:left; margin:0px 15px 0px 0px; padding:0px; border:0px; }
	.blogtag ul ul li { background-color:#000000; border-bottom:0px; }
	input.more:checked ~ ul { /*display:inline;*/ display:none; } /* mobile version, alle listen auf der ebene der checkbox ein- bzw. ausblenden */
	/******************************** blogtag end *********************************/
}
/* 3-1-8-1-5 = 1260px (original) */

